<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

<div>
  <table th:border="1">
    <tr th:each="u : ${user}">
      <a th:href="@{/admin/{id}(id=${u.getId()})}" th:text="${u.getUsername()}"></a>
      <form th:method="DELETE" th:action="@{/admin/{id}(id=${u.getId()})}">
        <input type="submit" value="Delete"/>
      </form>
      <br>
    </tr>
  </table>
</div>
<a href="/admin/create-new-user">Создать нового пользователя</a>
<form action="/logout">
  <input type="submit" value="logout">
</form>

</body>
</html>