<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>

<form th:text="${user.getId()}"></form>
<form th:text="${user.getUserName()}"></form>
<form th:text="${user.getFirstName()}"></form>
<form th:text="${user.getLastName()}"></form>
<form th:text="${user.getYearOfBirth()}"></form>
<form th:text="${user.getBalance()}"></form>
<form th:text="${user.getEmail()}"></form>
<form th:each="role : ${user.getRoles()}" th:text="${role.name}"></form>


<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

<form action="/admin/user/">
  <input type="submit" value="main page">
</form>
<form action="/logout">
  <input type="submit" value="logout">
</form>

</body>
</html>